:root {
  --border-radius-primary: 20px;
  --border-radius-secondary: 15px;
  --border-radius-tertiary: 10px;
  --primary-bg-color: #6082ca;
  --secondary-bg-color: #393939;
  --primary-text-color: rgb(255, 255, 255);
  --secondary-text-color: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  background-color: var(--primary-bg-color);
  height: 100vh;
  color: var(--secondary-text-color);
}

.container {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header {
  font-size: 4rem;
  font-family: 'Cookie', cursive;
  margin-bottom: 5rem;
}

.quote {
  position: relative;
  font-family: 'Cookie', cursive;
}

.quote__title {
  position: relative;
  font-size: 2rem;
  margin-top: 1rem;
}
.quote__quote {
  position: relative;
  font-size: 3rem;
  margin-top: 1rem;
}

.quote__author {
  position: relative;
  font-size: 1.2rem;
}

.qoute__image {
  background-image: url('/images/quote.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.quote__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2rem;
  width: 500px;
  min-height: 300px;
  height: max-content;
  border-radius: var(--border-radius-primary);
  border: 3px #ffffff solid;
  box-shadow: 12px 12px 6px 3px rgba(27, 58, 158, 0.2);
  position: relative;
}

.quote__container::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.select {
  color: var(--primary-text-color);
  font-size: 1rem;
  background-color: var(--secondary-bg-color);
  padding: 0.5rem;
  width: 120px;
  height: 40px;
  outline: none;
  border: 3px #ffffff solid;
  border-radius: var(--border-radius-tertiary);
  position: absolute;
  top: -22px;
}

.button {
  padding: 0.5rem;
  border: 3px #ffffff solid;
  border-radius: var(--border-radius-tertiary);
  cursor: pointer;
  width: 120px;
  height: 40px;
  position: absolute;
  bottom: -22px;
  color: var(--primary-text-color);
  font-size: 1rem;
  background-color: var(--secondary-bg-color);
}

.button:active {
  transform: scale(0.98);
}

.error__container {
  margin: 2rem;
  display: none;
}
.button__loader {
  display: none;
  position: relative;
  width: 1rem;
  height: 1rem;
  margin: 0 auto;
}

.button__loader:before,
.button__loader:after {
  content: '';
  width: 1rem;
  height: inherit;
  border-radius: 50%;
  background-color: #14213d;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: loading 2s infinite ease-in-out;
}

.button__loader:after {
  animation-delay: -1s;
}

.button__ready {
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
}

/* ERROR */

.error__container {
  display: none;
}

/* ANIMATIONS */

@keyframes loading {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
@-moz-keyframes loading {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
@-webkit-keyframes loading {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
